/* Fonts   */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Fraunces', serif; */

:root {
  /* primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  /* Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  /* Fonts */
  --font-barlow: 'Barlow', sans-serif;
  --font-fraunces: 'Fraunces', serif;
}

/* General Styles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /* background-color: red; */
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 1.6;
}

/* Centrar contenido en 1140px */
.row {
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  border-radius: none;
  background-color: transparent;
  cursor: pointer;
}

/* header start */
header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header__arrow {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  padding-top: 3rem;
}

.hamburguer {
  display: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.nav__flex {
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.nav__logo {
  margin-right: auto;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  padding: 0 2rem;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.btn__white {
  padding: 1.5rem 2.5rem;
  background-color: #fff;
  color: #000;
  border-radius: 10rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.header__title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: 'Fraunces', serif;
  letter-spacing: 1.1rem;
  font-weight: 900;
  display: block;
  width: 100%;
  text-align: center;
}

/* header end */


/* about section start */
.section-about__flex {
  display: flex;
}

.section-about__content {
  padding: 0 10vw;
  align-self: center;
  flex: 0 0 50%;
}

.section-about__title {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  line-height: 1;
  color: var(--Very-dark-desaturated-blue);
}

.section-about__content--text {
  margin: 2rem 0 2rem 0;
}

.paragraph {
  font-size: 1.5rem;
  color: var(--Very-dark-grayish-blue);
  font-weight: 600;
}

.btn__black {
  text-transform: uppercase;
  font-family: 'Fraunces',
    serif;
  font-weight: 900;
  font-size: 1.4rem;
  padding: 0;
  color: var(--Very-dark-desaturated-blue);
}

.btn__black--1 {
  border-bottom: 3px solid var(--Yellow);
}

.btn__black--2 {
  border-bottom: 3px solid var(--Soft-red);
}

.section-about__image--photo {
  width: 100%;
  display: block;
}

/* about section end */

/* service section start ***************************************************************/
/* .section-services__flex{
  display: flex;
}
.section-services__image{
  flex: 0 0 50%;
}
.section-services__image--photo{
  width: 100%;
  display: block;
  flex: 0 0 50%;
}
.section-services__content {
   padding: 0 10vw;
   align-self: center;
   flex: 0 0 50%;
}
.section-services__title {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  line-height: 1;
  color: var(--Very-dark-desaturated-blue);
}
.section-services__content--text{
  margin: 2rem 0;
} */
/* service section end ************************************************************************/


/* service section start (este si)  */
.section-services__flex {
  display: flex;
}

.section-services__image {
  flex: 0 0 50%;
}

.section-services__photo {
  max-width: 100%;
  display: block;
}

.heading-tertiary {
  text-align: center;
  font-size: 3rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: var(--Dark-desaturated-cyan);
}

.heading-tertiary__pothography {
  color: var(--Dark-blue);
}

.graphic-textbox {
  margin-top: -16rem;
  opacity: 1;
}

.graphic-paragraph {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 10vw;
  color: var(--Dark-moderate-cyan);
  font-weight: 700;
}

.photography-textbox {
  margin-top: -16rem;
  opacity: 1;
}

.photography-paragraph {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 12vw;
  color: var(--Dark-blue);
  font-weight: 700;
}

/* .section-services__photo--1:hover+.graphic-textbox {
  transition: all .2s;
  opacity: 1;
  transform: translateY(-8rem);
} */

/* .section-services__photo--2:hover+.photography-textbox {
  transition: all .2s;
  opacity: 1;
  transform: translateY(-8rem);
} */
/* service section end  */


/* testimonials section start  */
.heading-fourth {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  color: var(--Grayish-blue);
  font-weight: 700;
  margin-bottom: 8rem;
  letter-spacing: 0.3rem;
}

.section-testimonials {
  margin: 10vw 0;
  height: 50vh;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: .1rem;
}

.testimonials__clients--1,
.testimonials__clients--2,
.testimonials__clients--3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials__clients--1-photo,
.testimonials__clients--2-photo,
.testimonials__clients--3-photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.testimonials__clients--1-text,
.testimonials__clients--2-text,
.testimonials__clients--3-text {
  font-size: 1.3rem;
  color: var(--Very-dark-grayish-blue);
  text-align: center;
  margin-bottom: 4rem;
}

.testimonials__clients--1-name,
.testimonials__clients--2-name,
.testimonials__clients--3-name {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 0.2rem;
}

.testimonials__clients--1-role,
.testimonials__clients--2-role,
.testimonials__clients--3-role {
  color: var(--Grayish-blue);
  font-weight: 700;
  font-size: 1.1rem;
}

/* testimonials section end  */

/* gallery section start   */

.gallery__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.gallery__images--1,
.gallery__images--2,
.gallery__images--3,
.gallery__images--4 {
  width: 100%;
  display: block;
}

/* gallery section end   */

/* footer section start */
.footer {
  background-color: #90D4C5;
  height: 45vh;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-fifth {
  color: var(--Dark-desaturated-cyan);
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Barlow', serif;
  margin: 3rem 0;
}

.footer__list {
  list-style: none;
  display: flex;

}

.footer__item {
  margin-bottom: 5rem;
}

.footer__link {
  text-decoration: none;
  color: var(--Dark-moderate-cyan);
  margin: 0 3rem;
  font-size: 1.8rem;
}

.social {
  display: flex;
}

.social>*:not(last-child) {
  margin-right: 3rem;
  font-size: 3rem;
  color: var(--Dark-desaturated-cyan);
}

/* footer section end */


/******************RESPONSIVE DESIGN************************/

@media(max-width:999px) {
  .gallery__images {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (max-width: 800px) {

  .nav__list {
    display: none;
  }

  .btn__white {
    display: none;
  }

  .hamburguer {
    display: block;
  }

  .section-about__flex {
    display: flex;
    flex-direction: column;
  }

  .section-about__content {
    padding: 5rem;
    text-align: center;
  }

  .section-services__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-services__photo {
    width: 100%;
  }

  .graphic-paragraph {
    padding-bottom: 4rem;
  }

  .heading-fourth {
    padding-top: 6rem;
    margin-bottom: 2rem;
  }

  .section-testimonials {
    height: auto;
  }

  .testimonials__grid {
    display: flex;
    flex-direction: column;
  }

  .testimonials__clients {
    margin-top: 5rem;
  }

  .testimonials__clients--1-photo,
  .testimonials__clients--2-photo,
  .testimonials__clients--3-photo {
    margin-bottom: 2rem;
  }

  .testimonials__clients--1-text,
  .testimonials__clients--2-text,
  .testimonials__clients--3-text {
    margin-bottom: 2rem;
  }

}